---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Create ROS Project">


	<section class="h-[70vh] flex items-center justify-center">
		<div class="container mx-auto py-20 text-center">

			<h1 class="text-7xl font-bold mb-4"> Create ROS Project </h1>

			<p class="text-xl text-gray-400 mb-8">
				Start a ROS robotics projects with one command in seconds
			</p>

			<button id="tryBetaButton">
				Try Beta
			</button>
		</div>
	</section>


	<section class="h-[75vh] flex justify-center bg-white p-6">
		<img src="https://cln.sh/xtYr5V8D/download" alt="fuck alt" class="rounded-3xl shadow-xl"/>
	</section>

	<section class=" bg-[#FAFAFA] py-20">
		<div class="container mx-auto">
			<h2 class="text-5xl font-bold text-center mb-8">Features</h2>

			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">

				<div class="bg-white p-6 rounded-xl">
					<h3 class="text-2xl font-semibold mb-3">One Line</h3>

					<p class="text-gray-700">
						You don’t need to sort through the list of different ROS distributions anymore. CRP will do for you.
					</p>

					<img src="/images/feature_1.png" alt="image lah" class="my-5"/>

				</div>

				<div class="bg-white p-6 rounded-xl">
					<h3 class="text-2xl font-semibold mb-3">Templates</h3>
					<p class="text-gray-700">
						Start with a basic structure or choose from a variety of templates to accelerate your ROS development.
					</p>

					<img src="/images/feature_2.png" alt="image lah" class="my-5"/>

				</div>

				<div class="bg-white p-6 rounded-xl">
					<h3 class="text-2xl font-semibold mb-3">Cross-platform</h3>
					<p class="text-gray-700">
						Work seamlessly with your team on ROS projects, sharing workspace environments and code.
					</p>

					<img src="/images/feature_3.png" alt="image lah" class="my-5"/>

				</div>

			</div>
		</div>
	</section>

	<section class="bg-white py-20">
		<div class="container mx-auto">
			<h2 class="text-5xl font-bold text-center mb-8">Easy as 1, 2, 3</h2>

			<div class="flex flex-col items-start justify-center gap-12 mx-10">

				<div class="flex items-center">
					<span class="text-6xl font-bold text-blue-500 mr-4 flex-shrink-0">1.</span>

					<div>
						<h3 class="text-2xl font-semibold mb-3">Install</h3>
						<p class="text-gray-700">Install CRP quickly and easily with a single command line instruction.</p>
					</div>

				</div>

				<div class="flex items-center">
					<span class="text-6xl font-bold text-blue-500 mr-4 flex-shrink-0">2.</span>

					<div>
						<h3 class="text-2xl font-semibold mb-3">Build</h3>
						<p class="text-gray-700">Install CRP quickly and easily with a single command line instruction.</p>
					</div>

				</div>

				<div class="flex items-center">
					<span class="text-6xl font-bold text-blue-500 mr-4 flex-shrink-0">3.</span>

					<div>
						<h3 class="text-2xl font-semibold mb-3">Test</h3>
						<p class="text-gray-700">Install CRP quickly and easily with a single command line instruction.</p>
					</div>

				</div>
			</div>
		</div>
	</section>


	<section class="py-20 bg-black">
		<div class="container mx-auto px-2">
			<h2 class="!text-white text-5xl font-bold text-center mb-12 ">Try Beta Now</h2>
			<div class="flex justify-center">
				<div class="w-full max-w-xl">
					<form id="betaForm" >
						<div class="mb-4">
							<input type="text" class="w-full p-3 rounded-lg" placeholder="First Name" />
						</div>
						<div class="mb-4">
							<input type="text" class="w-full p-3 rounded-lg" placeholder="Last Name" />
						</div>
						<div class="mb-4">
							<input type="email" class="w-full p-3 rounded-lg" placeholder="Email" />
						</div>
						<div class="mb-6">
							<textarea rows="5" class="w-full p-3 rounded-lg" placeholder="Questions and Requests"></textarea>
						</div>
						<div class="text-center">
							<button type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer class="py-8 bg-gray-100 text-gray-600">
		<div class="container mx-auto text-center">
			Made with ❤️ by <a href="https://jingxiangmo.com">JXM</a> and <a href="https://www.sasharesume.com">Sasha</a>
		</div>
	</footer>

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const button = document.getElementById('tryBetaButton');
			const formSection = document.getElementById('betaForm');

			if (button && formSection) {
				button.addEventListener('click', function(e) {
					e.preventDefault();
					formSection.scrollIntoView({ behavior: 'smooth' });
				});
			}
		});
	</script>
</Layout>

<style>
	a {
		color: #2997ff;
		text-decoration: underline;
	}

	h1 {
		color: #242424;
	}

	h2 {
		color: #242424;
	}

	p {
		color: #808080;
	}

	button {
		@apply bg-[#007AFF] hover:bg-[#0A84FF] text-white font-bold py-3 px-10 rounded-lg;
	}

</style>