---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Create React Project</title>
	</head>

	<body class="flex flex-col min-h-screen bg-black">

		<header class="flex flex-col p-10 mx-auto w-full md:w-1/2 lg:w-2/3 h-[70vh] justify-center">
			<h1 class="text-7xl font-bold text-white"> Create ROS Project </h1>
			<p class="text-gray-600 pt-2 mb-2">Start a ROS robotics projects by one command in seconds.</p>
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 w-40 rounded-xl mt-4">Signup for Beta</button>
		</header>
	</body>

	<section class="flex flex-col p-10 mx-auto w-full md:w-1/2 lg:w-2/3 h-[70vh] justify-center"">

		<div class="flex flex-row ">
			<div class="flex flex-col max-w-sm rounded overflow-hidden py-1 px-3">
				<h1 class="font-bold text-3xl pb-3"> One Line</h1>
				<p class="text-gray-600 ">You don’t need to sort though the list of different ROS distributions. CRP will tell you what’s available for your machine and install for you.</p>
			</div>

			<div class="flex flex-col max-w-sm rounded overflow-hidden py-1 px-2">
				<h1 class="font-bold text-3xl pb-3"> Templates</h1>
				<p class="text-gray-600 ">You don’t need to sort though the list of different ROS distributions. CRP will tell you what’s available for your machine and install for you.</p>
			</div>

			<div class="flex flex-col max-w-sm rounded overflow-hidden py-1 px-2">
				<h1 class="font-bold text-3xl pb-3"> Collaborative</h1>
				<p class="text-gray-600">You don’t need to sort though the list of different ROS distributions. CRP will tell you what’s available for your machine and install for you.</p>
			</div>
		</div>
	</section>

	<section class="flex flex-col p-10 mx-auto w-full md:w-1/2 lg:w-2/3 h-[80vh] justify-center"">
		<h1 class="text-5xl font-bold"> Easy as 1, 2, 3</h1>

		<div class="flex flex-row gap-3">

		<div class="max-w-sm rounded overflow-hidden my-10">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">1. Install</div>
			</div>
			<img class="w-full" src="https://cln.sh/ck25YdFT/download" alt="Sunset in the mountains">
		</div>

		<div class="max-w-sm rounded overflow-hidden my-10">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">2. Run</div>
			</div>
			<img class="w-full" src="https://cln.sh/ck25YdFT/download" alt="Sunset in the mountains">
		</div>

		<div class="max-w-sm rounded overflow-hidden my-10">
			<div class="px-6 py-4">
				<div class="font-bold text-xl mb-2">3. Build</div>
			</div>
			<img class="w-full" src="https://cln.sh/ck25YdFT/download" alt="Sunset in the mountains">
		</div>

		</div>
	</section>


	<section class="flex flex-col p-10 mx-auto w-full md:w-1/2 lg:w-2/3 h-[70vh] justify-center"">
		<h1 class="text-5xl font-bold"> Try Beta Now </h1>
		<div class="container mx-auto p-6">
			<form class="rounded px-8 pt-6 pb-8 mb-4">
				<div class="grid grid-cols-2 gap-4 mb-4">
					<div>
						<label class="block text-gray-700 text-sm font-bold mb-2" for="firstName">
							First Name
						</label>
						<input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="firstName" type="text" placeholder="First Name">
					</div>
					<div>
						<label class="block text-gray-700 text-sm font-bold mb-2" for="lastName">
							Last Name
						</label>
						<input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lastName" type="text" placeholder="Last Name">
					</div>
				</div>

				<div class="mb-4">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="email">
						Email
					</label>
					<input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email">
				</div>

				<div class="mb-6">
					<label class="block text-gray-700 text-sm font-bold mb-2" for="message">
						Questions and Requests
					</label>
					<textarea class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" rows="5" placeholder="Type your message here"></textarea>
				</div>

				<div class="flex items-center justify-end">
					<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
						Submit
					</button>
				</div>
			</form>
		</div>
	</section>

</html>

<style>

	h1{
		color: white;
	}
	p{
		color: white;
	}

</style>